div.reveal div.slides section p span.kb {
    border: 0.2em solid;
    background: #EEE;
    padding: 0.2em 0.5em;
    white-space: nowrap;
    border-color: #DDD #BBB #BBB #DDD;
    border-radius: 6px;
}

div.reveal div.slides section p span.star {
    font-size: 150%;
    color: red;
}
