div.reveal div.slides section * thead td {
    font-weight: bold;
}

div.reveal div.slides section table, div.reveal div.slides section * table {
    font-size: 80%;
}

div.reveal div.slides section * td {
    padding: 0.2em;
}

div.reveal div.slides section * .b {
    font-weight: bold;
    font-size: 110%;
}

div.reveal div.slides section * .it {
    font-style: italic;
}

div.reveal div.slides section * span.kb {
    font-size: inherit;
    border: 0.2em solid;
    background: #EEE;
    padding: 0.05em 0.5em;
    white-space: nowrap;
    border-color: #DDD #BBB #BBB #DDD;
    border-radius: 6px;
    margin: 0.5em 0em;
}

div.reveal div.slides section * .star {
    font-size: 150%;
    color: red;
}
